The Igra/Library/ArtifactDB
The Igra/Library/CurrentLayout-default.dwlt
The Igra/Library/SourceAssetDB
The Igra/Library/Bee/500b0aE.dag_fsmtime
The Igra/Library/Bee/profiler.json
The Igra/Library/Bee/tundra.digestcache
The Igra/Library/Bee/tundra.log.json
The Igra/Library/Bee/TundraBuildState.state.map
